<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css?family=Ledger|Nixie+One" rel="stylesheet">
  <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
  <link href="assets/css/story.css" rel="stylesheet" />
  <link href="assets/css/custom.css" rel="stylesheet" />
</head>
<body>
  {{#each collections.posts }}
    {{#if @first }}
      <section class="banner style1 orient-left content-align-left image-position-right fullscreen">
        <article class="content minimal">
          <header>
            <h1>{{ this.title }}</h1>
            <p class="major">By {{ this.by }} on {{ moment this.date format="MMMM Do, YYYY"}}</p>
          <header>
          {{{ this.contents }}}
          <ul class="actions vertical">
            <li>
              <a href="{{ this.path }}/index.html" class="button big wide smooth-scroll-middle">More...</a>
            </li>
          </ul>
        </article>
        <footer class="image">
          <img src="file:///Users/kyle/Source/home-is.github.io/assets/images/001.jpg" />
        </footer>
      </section>
    {{else }}
      <section class="spotlight style1 {{ article-align-style @index }}">
        <article class="content minimal">
          <header>
            <h2>{{ this.title }}</h2>
            <p class="major">By {{ this.by }} on {{ moment this.date format="MMMM Do, YYYY"}}</p>
          <header>
          {{{ this.contents }}}
          <ul class="actions vertical">
            <li>
              <a href="{{ this.path }}/index.html" class="button big wide smooth-scroll-middle">More...</a>
            </li>
          </ul>
        </article>
        <footer class="image">
          <img src="file:///Users/kyle/Source/home-is.github.io/assets/images/001.jpg" />
        </footer>
      </section>
    {{/if }}
  {{/each }}
  <a href="#search" class="jumper icon style2 fa fa-map-marker">
    <span class="label">Search</span>
  </a>
  <section id="search">
    <a href="#" class="icon style2 fa-map-marker">
      <span class="label">Home</span>
    </a>
    <nav>
      <a href="/">Home</a>
      <a href="/">About</a>
      <a href="/">Contact</a>
    </nav>
  </section>
</body>
</html>
